.home {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 50%;
    height: 70vh;
    padding: 10px;
    overflow: scroll;
}

.cardResumo{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.home::-webkit-scrollbar {
    display: none;
  }

  .home {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


.resumo{
    width: 80%;
    padding: 20px;
}

.cardAcademy{
    width: 80%;
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
}


.cardAcademy li{
    margin: 10px 10px 10px 0;
    width: fit-content;
    list-style: none;
    padding: 5px;
    border-radius: 5px;
    color: #BEF781;  
    border: 1px solid #bef78162;
    font-size: 12px;
    letter-spacing: 5px;
}

.cardAcademy ul{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.cardAcademy h2{
    width: 80%;
    margin-bottom: 20px;
}

.cardAcademy span{
    color: #A4A4A4;
}